Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint --fix"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"]
}

Merge frontend/website from nghibg to main
  frontend/website/docusaurus.config.js
  frontend/website/sidebars.js
Due: eslint --fix, prettier --write

Consolidate duplicate `.primary-btn` CSS rules and remove `!important` flags (#8)
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/src/css/custom.css
Due: prettier --write, markdownlint --fix, stylelint --fix

Fix build errors in UploadZone component
  frontend/mvp/src/components/UploadZone.tsx
Due: eslint --fix, prettier --write

fix: resolve missing React import in UploadZone.tsx (#9)
  frontend/mvp/src/components/UploadZone.tsx
Due: eslint --fix, prettier --write

feat(website): add test.txt
  frontend/website/test.txt
Due: none

phucpt: Potential fix for pull request finding
  frontend/website/test.txt
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

feat(website): add test.txt (#16)
  frontend/website/test.txt
  pnpm-lock.yaml
Due: prettier --write

Nghibg (#17)
  frontend/website/test.txt
Due: none

feat(website): update landing page sections
  frontend/website/blog/authors.yml
  frontend/website/docusaurus.config.js
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/components/Home/section4/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

style(website): adjust website styling
  frontend/website/docusaurus.config.js
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/components/Home/section4/styles.module.css
  frontend/website/src/css/custom.css
Due: eslint --fix, prettier --write, stylelint --fix

phupct: test
  .github/workflows/main.yml
  backend/api/test.txt
Due: prettier --write

phupct: test 2
  .github/workflows/main.yml
  backend/api/test.txt
Due: prettier --write

phucpt: update
  frontend/mvp/test.txt
  frontend/website/test.txt
  package.json
Due: prettier --write

ci: phucpt add ci for api
  .github/actions/install/action.yml
  backend/api/test.txt
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write

chore: phucpt fix pnpm and ci
  .gitignore
  backend/api/test.txt
  frontend/mvp/test.txt
  frontend/website/test.txt
  pnpm-lock.yaml
Due: prettier --write

chore: phucpt fixs ci
  .github/actions/install/action.yml
  backend/api/test.txt
  frontend/mvp/test.txt
  frontend/website/test.txt
  package.json
  turbo.json
Due: prettier --write

chore: phupct
  .gitignore
  backend/api/test.txt
  frontend/mvp/test.txt
  frontend/website/package-lock.json
  frontend/website/test.txt
Due: prettier --write

ci: phucpt fix ci/cd
  backend/api/.eslintrc.cjs
  frontend/mvp/eslint.config.js
  frontend/mvp/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(deps): update dependencies and configuration
  backend/api/.eslintrc.cjs
  backend/api/package.json
  backend/api/src/controllers/modelController.ts
  backend/api/src/server.ts
  eslint.config.js
  frontend/mvp/eslint.config.js
  frontend/mvp/package.json
  frontend/mvp/src/pages/UploadModelPage.tsx
  frontend/website/package.json
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section3/index.tsx
  frontend/website/src/components/Home/section4/index.tsx
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
Due: eslint --fix, prettier --write

chore: update dependencies and website content
  .github/actions/install/action.yml
  eslint.config.js
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/index.tsx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, markdownlint --fix

chore(web): update wrangler and tsconfig configurations
  backend/api/wrangler.jsonc
  frontend/mvp/wrangler.jsonc
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/pages/index.tsx
  frontend/website/tsconfig.json
Due: eslint --fix, prettier --write

fix(mvp): update wrangler configuration
  frontend/mvp/wrangler.jsonc
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(gitignore): consolidate gitignore files
  .gitignore
  frontend/mvp/.gitignore
  frontend/website/.gitignore
Due: none

fix: phucpt - fix ci for mvp and api
  .idx/dev.nix
  .npmrc
  backend/api/.env.example
  backend/api/package.json
  backend/api/src/routes/healthcheck.ts
  backend/api/src/server.ts
  backend/api/src/services/storage/S3StorageAdapter.ts
  backend/api/src/utils/db.ts
  frontend/mvp/.env.example
  frontend/mvp/package.json
  frontend/mvp/vite.config.ts
  frontend/website/package.json
Due: eslint --fix, prettier --write

ci: phucpt: update ci with env
  .github/workflows/api.yml
  backend/api/test.txt
Due: prettier --write

ci: phuct - fixed ci with env
  .github/workflows/api.yml
  backend/api/test.txt
Due: prettier --write

ci: phucpt - deploy wrangler / cloudflare successfully
  backend/api/package.json
  backend/api/worker/index.ts
  backend/api/wrangler.jsonc
  frontend/mvp/worker-configuration.d.ts
  frontend/mvp/worker/index.ts
  frontend/mvp/wrangler.jsonc
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

test: phucpt: add mvp(mock task) and api(mock task) in their package.json
  .gitignore
  backend/api/api-contract.test.json
  backend/api/package.json
  backend/api/scripts/seed-test-images.mjs
  frontend/mvp/api-contract.test.json
  frontend/mvp/package.json
  frontend/mvp/scripts/download-test-images.mjs
  frontend/mvp/src/services/__tests__/api-contract.test.ts
Due: eslint --fix, prettier --write

fix: phucpt: implement validation process
  backend/api/package.json
  backend/api/scripts/seed-test-images.mjs
  backend/api/test.txt
  backend/api/worker/index.ts
  frontend/mvp/.env.example
  frontend/mvp/api-contract.test.json
  frontend/mvp/package.json
  frontend/mvp/scripts/download-test-images.mjs
  frontend/mvp/src/App.tsx
  frontend/mvp/src/components/PostbuildRunner.tsx
  frontend/mvp/src/services/__tests__/api-contract.test.ts
  frontend/mvp/wrangler.jsonc
Due: eslint --fix, prettier --write

feat(website): update website content
  frontend/website/blog/authors.yml
  frontend/website/docusaurus.config.ts
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/components/Home/section4/styles.module.css
  frontend/website/src/css/custom.css
Due: eslint --fix, prettier --write, stylelint --fix

fix(lint): configure and fix linting issues
  .lintstagedrc.json
  .stylelintrc.json
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/css/custom.css
Due: prettier --write, stylelint --fix

fix: phucpt: implement validation process
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/components/Home/section4/styles.module.css
  frontend/website/src/css/custom.css
Due: prettier --write, stylelint --fix

style(code-style): apply linting fixes
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/css/custom.css
Due: prettier --write, stylelint --fix
