Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint --fix"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"]
}

git commit -m 'feat(ci): test github actions'
  frontend/mvp/package.json
  frontend/website/package.json
Due: prettier --write

git commit -m 'feat(ci): test github actions'
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: none

git commit -m 'ci: text by phucpt'
  frontend/mvp/test.txt
  frontend/website/text.tst
Due: none

git commit -m 'ci: test by phucpt'
  .github/actions/deploy-cloudflare/action.yml
  frontend/mvp/test.txt
  frontend/website/text.tst
Due: prettier --write

fix(ci): correct the deploy-cloudflare action
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

git commit -m 'ci: test by phucpt'
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: none

git commit -m 'ci: test by phucpt'
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

git commit -m 'ci: test by phucpt'
  .github/actions/deploy-cloudflare/action.yml
  frontend/mvp/package.json
  frontend/mvp/wrangler.jsonc
  frontend/website/package.json
Due: prettier --write

git commit -m 'ci: test by phucpt'
  .github/actions/builds/action.yml
  .github/actions/deploy-cloudflare/action.yml
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write

git commit -m 'ci: test by phucpt 3'
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: none

git commit -m 'ci: test by phucpt 4'
  .github/actions/deploy-cloudflare/action.yml
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write

git commit -m 'ci: test by phucpt 5'
  .github/actions/deploy-cloudflare/action.yml
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write

git commit -m 'ci: test by phucpt 6'
  .github/actions/deploy-cloudflare/action.yml
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write

git commit -m 'ci: changed by phucpt'
  .github/actions/deploy-cloudflare/action.yml
  .github/workflows/mvp.yml
  .github/workflows/website.yml
Due: prettier --write

git commit -m 'ci: test ci 7 by phucpt'
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: none

git commit -m 'ci: changed by phucpt'
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

git commit -m 'ci: test ci 8 by phucpt'
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: none

git commit -m 'ci: test ci 9 by phucpt'
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: none

git commit -m 'ci: test ci 10 by phucpt'
  .github/actions/deploy-cloudflare/action.yml
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write

git commit -m 'ci: test ci 10 by phucpt'
  .github/workflows/main.yml
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write

chore: update CI/CD workflows and remove test files
  .github/workflows/main.yml
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write

git commit -m 'ci: changed by phucpt'
  .github/workflows/website.yml
Due: prettier --write

feat: change tagline
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat(mvp): change title
  frontend/mvp/worker/index.ts
Due: eslint --fix, prettier --write

feat(website): change tagline
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat(mvp): change title
  frontend/mvp/index.html
Due: none

git commit -m 'ci: changed by phucpt'
  .github/workflows/mvp.yml
  .github/workflows/website.yml
Due: prettier --write

git commit -m 'ci: test ci by phucpt'
  frontend/mvp/src/App.tsx
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

git commit -m 'ci: test ci by phucpt'
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/mvp/src/App.tsx
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

refactor(website): reorganize homepage components
  frontend/website/src/components/Home/HowItWorks/index.tsx
  frontend/website/src/components/Home/HowItWorks/styles.module.css
  frontend/website/src/components/Home/index.tsx
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/styles.module.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): rename Home component to Hom
  frontend/website/src/components/Hom/HowItWorks/index.tsx
  frontend/website/src/components/Hom/HowItWorks/styles.module.css
  frontend/website/src/components/Hom/index.tsx
  frontend/website/src/components/Hom/section1/index.tsx
  frontend/website/src/components/Hom/section1/styles.module.css
  frontend/website/src/components/Hom/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): rename Hom component back to Home
  frontend/website/src/components/Home/HowItWorks/index.tsx
  frontend/website/src/components/Home/HowItWorks/styles.module.css
  frontend/website/src/components/Home/index.tsx
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(mvp): update heading to Garblo 2026
  frontend/mvp/src/App.tsx
Due: eslint --fix, prettier --write

feat(website): update how it works section
  frontend/website/src/components/Home/HowItWorks/index.tsx
Due: eslint --fix, prettier --write

feat(website): update how it works section (#4)
  frontend/website/src/components/Home/HowItWorks/index.tsx
Due: eslint --fix, prettier --write

feat(appConsumer): add virtual try-on section
  frontend/website/package-lock.json
  frontend/website/src/components/HomepageFeatures/index.tsx
  frontend/website/src/components/HomepageFeatures/section1/index.tsx
  frontend/website/src/components/HomepageFeatures/section1/styles.module.css
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
  frontend/website/src/components/HomepageFeatures/styles.module.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix
