Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

feat(website): update virtual try-on section and dependencies
  frontend/website/src/components/HomepageFeatures/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
  frontend/website/src/components/HomepageFeatures/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): refine virtual try-on section UI
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
Due: eslint --fix, prettier --write

refactor(website): adjust layout of virtual try-on section
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
Due: eslint --fix, prettier --write

feat(website): update hero section with new title and description
  frontend/website/src/components/Home/section1/index.tsx
Due: eslint --fix, prettier --write

feat(website): update about us section with new content
  frontend/website/src/components/Home/HowItWorks/index.tsx
  frontend/website/src/components/Home/HowItWorks/styles.module.css
  frontend/website/src/components/Home/index.tsx
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/src/components/Home/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): change props of section2 component
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write

feat(website): add new section and update existing components
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): remove unused component and update styles
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): update hero section content and styles
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/static/img/section1/IntroGarblo.mp4
Due: eslint --fix, prettier --write, stylelint --fix

feat(mvp): implement frontend MVP with pages, services, and tests
  frontend/mvp/.prettierrc.json
  frontend/mvp/Dockerfile
  frontend/mvp/index.html
  frontend/mvp/nginx.conf
  frontend/mvp/package-lock.json
  frontend/mvp/package.json
  frontend/mvp/playwright.config.ts
  frontend/mvp/src/App.css
  frontend/mvp/src/App.tsx
  frontend/mvp/src/assets/Cloudflare_Logo.svg
  frontend/mvp/src/assets/react.svg
  frontend/mvp/src/components/ItemCard.tsx
  frontend/mvp/src/components/ModelPreview.tsx
  frontend/mvp/src/components/UploadZone.tsx
  frontend/mvp/src/index.css
  frontend/mvp/src/main.tsx
  frontend/mvp/src/pages/LoginPage.tsx
  frontend/mvp/src/pages/UploadModelPage.tsx
  frontend/mvp/src/pages/WardrobePage.tsx
  frontend/mvp/src/services/api.test.ts
  frontend/mvp/src/services/api.ts
  frontend/mvp/src/services/itemService.ts
  frontend/mvp/src/services/modelService.ts
  frontend/mvp/src/services/outfitService.ts
  frontend/mvp/src/types/index.ts
  frontend/mvp/tests/e2e/wardrobe.spec.ts
  frontend/mvp/vite.config.ts
  frontend/mvp/vitest.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(mvp): implement backend MVP with controllers, services, and tests
  .gitignore
  backend/mvp/.env.example
  backend/mvp/.prettierrc.json
  backend/mvp/Dockerfile
  backend/mvp/index.js
  backend/mvp/jest.config.ts
  backend/mvp/package-lock.json
  backend/mvp/package.json
  backend/mvp/src/controllers/itemController.ts
  backend/mvp/src/controllers/modelController.ts
  backend/mvp/src/controllers/outfitController.ts
  backend/mvp/src/models/Item.ts
  backend/mvp/src/models/Model.ts
  backend/mvp/src/models/Outfit.ts
  backend/mvp/src/routes/items.ts
  backend/mvp/src/routes/models.ts
  backend/mvp/src/routes/outfits.ts
  backend/mvp/src/server.ts
  backend/mvp/src/services/image-gen/GeminiAdapter.ts
  backend/mvp/src/services/image-gen/HFAdapter.ts
  backend/mvp/src/services/image-gen/IImageGenerator.ts
  backend/mvp/src/services/image-gen/PollinationsAdapter.ts
  backend/mvp/src/services/image-gen/imageGenFactory.ts
  backend/mvp/src/services/storage/IStorage.ts
  backend/mvp/src/services/storage/LocalStorageAdapter.ts
  backend/mvp/src/services/storage/S3StorageAdapter.ts
  backend/mvp/src/services/storage/storageFactory.ts
  backend/mvp/src/utils/db.ts
  backend/mvp/tests/adapters/HFAdapter.test.ts
  backend/mvp/tests/adapters/LocalStorageAdapter.test.ts
  backend/mvp/tests/adapters/PollinationsAdapter.test.ts
  backend/mvp/tsconfig.json
Due: eslint --fix, prettier --write

feat(blog): add new post on mastering body shapes with AI
  frontend/website/blog/2019-05-28-first-blog-post.md
  frontend/website/blog/2019-05-29-long-blog-post.md
  frontend/website/blog/2021-08-01-mdx-blog-post.mdx
  frontend/website/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  frontend/website/blog/2021-08-26-welcome/index.md
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/blog/authors.yml
  frontend/website/blog/tags.yml
  frontend/website/docusaurus.config.ts
  frontend/website/src/css/custom.css
  frontend/website/static/img/nghi-avatar.jpg
Due: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

feat(website): add new sections to homepage
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section3/index.tsx
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Potential fix for pull request finding
  backend/mvp/src/routes/models.ts
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  backend/mvp/src/routes/items.ts
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  backend/mvp/src/controllers/itemController.ts
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  backend/mvp/src/controllers/modelController.ts
Due: eslint --fix, prettier --write

feat(appConsumer): add virtual try-on section
  frontend/website/package-lock.json
  frontend/website/src/components/Home/index.tsx
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/styles.module.css
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): update virtual try-on section and dependencies
  frontend/website/src/components/Home/index.tsx
  frontend/website/src/components/Home/styles.module.css
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): update about us section with new content
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json,yml,yaml})) or (any of: *.{css,scss})
  markdownlint --fix: any of: *.md
  stylelint --fix: any of: *.{css,scss}
