Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint --fix"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"]
}

feat(mvp): implement backend MVP with controllers, services, and tests
  backend/mvp/index.js
  backend/mvp/src/controllers/itemController.ts
  backend/mvp/src/controllers/modelController.ts
  backend/mvp/src/controllers/outfitController.ts
  backend/mvp/src/routes/items.ts
  backend/mvp/src/routes/models.ts
  backend/mvp/src/server.ts
  backend/mvp/src/services/image-gen/GeminiAdapter.ts
  backend/mvp/src/services/image-gen/HFAdapter.ts
  backend/mvp/src/services/storage/LocalStorageAdapter.ts
  backend/mvp/src/services/storage/S3StorageAdapter.ts
  backend/mvp/src/utils/db.ts
Due: eslint --fix, prettier --write

feat(appConsumer): add virtual try-on section
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): adjust layout of virtual try-on section
  frontend/website/src/components/Home/section1/index.tsx
Due: eslint --fix, prettier --write

feat(website): update hero section with new title and description
  frontend/website/src/components/Home/section1/index.tsx
Due: eslint --fix, prettier --write

feat(website): update about us section with new content
  frontend/website/src/components/Home/section2/styles.module.css
Due: prettier --write, stylelint --fix

refactor(website): change props of section2 component
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write

feat(website): add new section and update existing components
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): remove unused component and update styles
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): update hero section content and styles
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): add new sections to homepage
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve broken anchor links and stylelint errors
  commit_message.txt
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

feat(mvp): implement frontend MVP with pages, services, and tests
  frontend/mvp/package-lock.json
  frontend/mvp/playwright.config.ts
  frontend/mvp/src/components/ModelPreview.tsx
  frontend/mvp/src/components/UploadZone.tsx
  frontend/mvp/tests/e2e/wardrobe.spec.ts
Due: eslint --fix, prettier --write

feat(mvp): implement backend MVP with controllers, services, and tests
  backend/mvp/index.js
  backend/mvp/package-lock.json
  backend/mvp/package.json
  backend/mvp/src/controllers/itemController.ts
  backend/mvp/src/controllers/modelController.ts
  backend/mvp/src/controllers/outfitController.ts
  backend/mvp/src/routes/items.ts
  backend/mvp/src/routes/models.ts
  backend/mvp/src/server.ts
  backend/mvp/src/services/image-gen/GeminiAdapter.ts
  backend/mvp/src/services/image-gen/HFAdapter.ts
  backend/mvp/src/services/storage/LocalStorageAdapter.ts
  backend/mvp/src/services/storage/S3StorageAdapter.ts
  backend/mvp/src/utils/db.ts
Due: eslint --fix, prettier --write

feat(appConsumer): add virtual try-on section
  frontend/website/package-lock.json
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): update about us section with new content
  frontend/website/src/components/Home/section2/index.tsx
Due: eslint --fix, prettier --write

feat(website): add new section and update existing components
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section2/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): remove unused component and update styles
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/index.tsx
Due: eslint --fix, prettier --write

feat(website): update hero section content and styles
  frontend/website/src/components/Home/section1/index.tsx
Due: eslint --fix, prettier --write

feat(blog): add new post on mastering body shapes with AI
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/src/css/custom.css
Due: prettier --write, markdownlint --fix, stylelint --fix

feat(website): add new sections to homepage
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve broken anchor links and stylelint errors
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

feat(mvp): implement frontend MVP with pages, services, and tests
  frontend/mvp/playwright.config.ts
  frontend/mvp/src/components/ModelPreview.tsx
  frontend/mvp/src/components/UploadZone.tsx
  frontend/mvp/tests/e2e/wardrobe.spec.ts
Due: eslint --fix, prettier --write

feat(website): add new section and update existing components
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): remove unused component and update styles
  frontend/website/src/components/Home/section1/index.tsx
Due: eslint --fix, prettier --write

fix: resolve broken anchor links and stylelint errors
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve merge conflict in blog post
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
Due: prettier --write, markdownlint --fix

style(website): fix stylelint errors
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section3/index.tsx
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/components/Home/section4/index.tsx
  frontend/website/src/components/Home/section4/styles.module.css
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
  frontend/website/static/img/section3/after-model.png
  frontend/website/static/img/section3/before-suit.png
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): add images to section 3
  frontend/website/src/components/Home/section3/index.tsx
Due: eslint --fix, prettier --write
