Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint --fix"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"]
}

feat(website): add before/after images to section 3
  frontend/website/src/components/Home/section3/index.tsx
  frontend/website/static/img/section3/after-model.png
  frontend/website/static/img/section3/before-suit.png
Due: eslint --fix, prettier --write

Merge frontend/website from nghibg branch
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/docusaurus.config.ts
  frontend/website/package-lock.json
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/src/components/Home/section3/index.tsx
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/components/Home/section4/index.tsx
  frontend/website/src/components/Home/section4/styles.module.css
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
  frontend/website/static/img/section3/after-model.png
  frontend/website/static/img/section3/before-suit.png
Due: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

phucpt: update package
  frontend/website/package-lock.json
Due: prettier --write

fix: resolve merge conflict in UploadZone.tsx
  frontend/mvp/src/components/UploadZone.tsx
Due: eslint --fix, prettier --write

Fix remaining open review comments: e2e assertion, Azure prototype isolation, URI credential leak, ObjectId validation, and additional correctness/build fixes (#10)
  backend/mvp/index.js
  backend/mvp/package-lock.json
  backend/mvp/src/controllers/outfitController.ts
  backend/mvp/src/routes/items.ts
  backend/mvp/src/server.ts
  backend/mvp/src/services/image-gen/GeminiAdapter.ts
  frontend/website/package-lock.json
Due: eslint --fix, prettier --write

Merge frontend/website from origin/nghibg
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/docusaurus.config.ts
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section3/index.tsx
  frontend/website/src/components/Home/section3/styles.module.css
  frontend/website/src/components/Home/section4/index.tsx
  frontend/website/src/components/Home/section4/styles.module.css
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
  frontend/website/static/img/section3/after-model.png
  frontend/website/static/img/section3/before-suit.png
Due: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

fix: resolve broken anchor warnings in blog
  frontend/website/src/components/Home/section1/index.js
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/index.js
  frontend/website/src/components/Home/section3/index.js
  frontend/website/src/pages/index.js
Due: eslint --fix, prettier --write

fix: resolve conflicts
  backend/mvp/src/controllers/outfitController.ts
  backend/mvp/src/routes/items.ts
Due: eslint --fix, prettier --write

feat: merge sectin 1 from copilot
  frontend/website/src/components/Home/section1/index.tsx
Due: eslint --fix, prettier --write

Fix security, correctness, and maintainability issues flagged in code review (#6)
  backend/mvp/src/config/fileValidation.ts
  backend/mvp/src/routes/models.ts
  backend/mvp/src/services/image-gen/HFAdapter.ts
  frontend/mvp/src/components/UploadZone.tsx
  frontend/mvp/src/main.tsx
  frontend/website/docusaurus.config.js
  frontend/website/sidebars.js
Due: eslint --fix, prettier --write

Merge frontend/website from main to nghibg
  frontend/website/docusaurus.config.js
  frontend/website/package-lock.json
  frontend/website/sidebars.js
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/src/components/Home/section4/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

Merge frontend/website from nghibg to main
  frontend/website/docusaurus.config.js
  frontend/website/sidebars.js
Due: eslint --fix, prettier --write

Fix AnimatedStat interval stop condition for both positive and negative endValues (#7)
  frontend/website/.gitignore
  frontend/website/docusaurus.config.js
  frontend/website/sidebars.js
  frontend/website/src/components/Home/section2/index.tsx
Due: eslint --fix, prettier --write

feat(mvp): implement backend MVP with controllers, services, and tests
  backend/mvp/src/routes/models.ts
Due: eslint --fix, prettier --write

feat(appConsumer): add virtual try-on section
  frontend/website/src/components/Home/index.tsx
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
  frontend/website/src/components/Home/styles.module.css
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): refine virtual try-on section UI
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
Due: eslint --fix, prettier --write

feat(website): update virtual try-on section and dependencies
  frontend/website/src/components/Home/index.tsx
  frontend/website/src/components/Home/styles.module.css
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

refactor(website): adjust layout of virtual try-on section
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
Due: eslint --fix, prettier --write

feat(website): update hero section with new title and description
  frontend/website/src/components/Home/section1/index.tsx
Due: eslint --fix, prettier --write

feat(website): update about us section with new content
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): add new section and update existing components
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/Home/section1/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): add new sections to homepage
  frontend/website/src/components/Home/section1/styles.module.css
Due: prettier --write, stylelint --fix

Potential fix for pull request finding
  backend/mvp/src/controllers/modelController.ts
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  backend/mvp/src/controllers/itemController.ts
Due: eslint --fix, prettier --write

feat(appConsumer): add virtual try-on section
  frontend/website/src/components/Home/section1/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): update virtual try-on section and dependencies
  commit_message.txt
  frontend/website/src/components/HomepageFeatures/section2/index.tsx
  frontend/website/src/components/HomepageFeatures/section2/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

feat(website): update about us section with new content
  frontend/website/src/components/Home/section2/styles.module.css
Due: prettier --write, stylelint --fix

feat(website): add new section and update existing components
  frontend/website/src/components/Home/section2/styles.module.css
Due: prettier --write, stylelint --fix

refactor(website): remove unused component and update styles
  frontend/website/src/components/Home/section2/styles.module.css
Due: prettier --write, stylelint --fix

Potential fix for pull request finding
  backend/mvp/src/services/image-gen/HFAdapter.ts
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  backend/mvp/src/routes/items.ts
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  backend/mvp/src/services/image-gen/GeminiAdapter.ts
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  backend/mvp/src/services/storage/S3StorageAdapter.ts
Due: eslint --fix, prettier --write

phucpt: fixed e2e assertion, Azure prototype isolation, URI credential leak, ObjectId validation
  backend/mvp/examples/azure-vision-prototype.js
Due: eslint --fix, prettier --write

Potential fix for pull request finding
  backend/mvp/src/services/storage/LocalStorageAdapter.ts
Due: eslint --fix, prettier --write

fix: resolve broken anchor links and stylelint errors
  commit_message.txt
  frontend/website/blog/2026-03-12-mastering-body-shapes-with-ai.md
  frontend/website/src/components/Home/section2/index.tsx
  frontend/website/src/components/Home/section2/styles.module.css
  frontend/website/src/css/custom.css
Due: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

Fix security, correctness, and maintainability issues flagged in code review (#6)
  backend/mvp/src/config/fileValidation.ts
  backend/mvp/src/services/image-gen/HFAdapter.ts
  frontend/mvp/src/components/UploadZone.tsx
  frontend/mvp/src/main.tsx
  frontend/website/docusaurus.config.js
  frontend/website/sidebars.js
Due: eslint --fix, prettier --write
