Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint --fix"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"]
}

Revert "fix(website): correct deploy script"
  frontend/website/package.json
Due: prettier --write

fix(mvp): correct deploy script
  frontend/mvp/package.json
Due: prettier --write

docs(website): update tagline
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

test(mvp): add test file
  frontend/mvp/test.txt
Due: none

fix(website): correct deploy script
  frontend/website/package.json
Due: prettier --write

fix(ci): correct deploy command
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

feat(ci): add working_directory to deploy action
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

feat(ci): pass working directory to reusable workflows
  .github/workflows/main.yml
Due: prettier --write

feat(ci): add working_directory input to mvp workflow
  .github/workflows/mvp.yml
Due: prettier --write

feat(ci): add working_directory input to website workflow
  .github/workflows/website.yml
Due: prettier --write

fix(ci): pass project to pnpm deploy
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

fix(website): use npx to deploy
  frontend/website/package.json
Due: prettier --write

refactor(ci): simplify deploy script
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

refactor(ci): use pnpm filter to deploy
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

refactor(ci): remove working directory
  .github/workflows/main.yml
Due: prettier --write

refactor(ci): remove working directory
  .github/workflows/mvp.yml
Due: prettier --write

refactor(ci): remove working directory
  .github/workflows/website.yml
Due: prettier --write

docs(website): revert tagline
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat(deploy): add deploy script
  package.json
Due: prettier --write

chore(ci): update cloudflare deployment action
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

chore(ci): update mvp workflow
  .github/workflows/mvp.yml
Due: prettier --write

chore(ci): update website workflow
  .github/workflows/website.yml
Due: prettier --write

chore(deps): update mvp dependencies
  frontend/mvp/package.json
Due: prettier --write

chore(config): update turbo.json
  turbo.json
Due: prettier --write

chore(deps): update dependencies
  package.json
Due: prettier --write

chore(deps): update dependencies in frontend/appAuth
  frontend/appAuth/package.json
Due: prettier --write

feat(appAuth): update auth app page
  frontend/appAuth/src/app/page.tsx
Due: eslint --fix, prettier --write

chore(deps): update dependencies in frontend/appConsumer
  frontend/appConsumer/package.json
Due: prettier --write

feat(appConsumer): update consumer app page
  frontend/appConsumer/src/app/page.tsx
Due: eslint --fix, prettier --write

refactor(mvp): remove test file
  frontend/mvp/test.txt
Due: none

feat(ui): add Button component
  packages/ui/package.json
  packages/ui/src/components/Button.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
Due: eslint --fix, prettier --write

fix(website): update docusaurus config
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat: add text files
  frontend/mvp/text.txt
  frontend/website/text.txt
  pnpm-lock.yaml
Due: prettier --write

refactor: remove unused text files
  .github/actions/deploy-cloudflare/action.yml
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/mvp/text.txt
  frontend/website/text.txt
Due: prettier --write

test(frontend): add test files
  .github/workflows/mvp.yml
  .github/workflows/website.yml
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: prettier --write
