Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": ["prettier --write"],
  "*.md": ["markdownlint --fix"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"]
}

feat(setup): initial commit from firebase-garblo-1764510296985
  hello.txt
Due: none

fix: Gemini fix
  package.json
  ssot/ssh/hello.txt
  ssot/ssh/setup_git.sh
Due: prettier --write

feat: Add decryption script and update gitignore
  .gitignore
  ssot/ssh/decrypt.sh
  ssot/ssh/key.gpg
  ssot/ssh/passphare-example.txt
  ssot/ssh/setup.md
Due: prettier --write, markdownlint --fix

docs: update ssh setup scripts
  ssot/ssh/decrypt.sh
  ssot/ssh/setup.md
  ssot/ssh/setup_git.sh
  ssot/ssh/setup_ssh.sh
Due: prettier --write, markdownlint --fix

docs(contribution): add contribution guidelines
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

chore: add .github directory
  .github/.gitkeep
Due: none

feat(website): add wrangler configuration
  frontend/website/wrangler.toml
Due: none

feat(github-actions): add reusable actions
  .github/actions/build-statics/action.yml
  .github/actions/deploy-azure-static-web-apps/action.yml
  .github/actions/deploy-cloudflare-pages/action.yml
  .github/actions/detect-branch/action.yml
  .github/actions/detect-directory/action.yml
  .github/actions/setup-node/action.yml
Due: prettier --write

ci(workflows): add frontend and main workflows
  .github/workflows/frontend-website.yml
  .github/workflows/main.yml
Due: prettier --write

feat(website): update docusaurus config with project title and tagline
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

ci(frontend): improve build and deployment pipeline
  .github/actions/build-statics/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/frontend-website.yml
  frontend/website/package.json
Due: prettier --write

feat(website): update tagline
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

ci: make CI pipeline more robust and flexible
  .github/actions/detect-branch/action.yml
  .github/actions/detect-directory/action.yml
  .github/workflows/frontend-website.yml
  .github/workflows/main.yml
Due: prettier --write

fix(website): update tagline and fix main workflow
  .github/workflows/main.yml
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

refactor(ci): streamline and simplify CI/CD pipeline
  .github/actions/detect-directory/action.yml
  .github/actions/install-npm-dependencies/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/frontend-website.yml
  .github/workflows/main.yml
Due: prettier --write

feat(website): update tagline to 'Reinvent Fashion 2026'
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

refactor(ci): overhaul CI/CD pipeline for Cloudflare Pages
  .github/actions/build-statics/action.yml
  .github/actions/deploy-azure-static-web-apps/action.yml
  .github/actions/deploy-cloudflare-pages/action.yml
  .github/actions/detect-branch/action.yml
  .github/actions/detect-directory/action.yml
  .github/actions/install-npm-dependencies/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/cloudflare-pages.yml
  .github/workflows/frontend-website.yml
  .github/workflows/main.yml
  frontend/website/package.json
  frontend/website/wrangler.toml
Due: prettier --write

refactor(ci): switch to pnpm for package management
  .github/actions/setup-node/action.yml
  .github/workflows/main.yml
  .github/workflows/website.yml
Due: prettier --write

fix(website): correct trailing slash in docusaurus config
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

refactor(ci): adjust github actions workflows
  .github/workflows/website.yml
Due: prettier --write

phucpt: int
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

refactor(website): update docusaurus config
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

chore(ci, website): update github action and docusaurus config
  .github/actions/setup-node/action.yml
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

chore(ci): update node setup action
  .github/actions/setup-node/action.yml
Due: prettier --write

ci(website): update website workflow
  .github/workflows/website.yml
Due: prettier --write

fix(website): update docusaurus config
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat(website): update docusaurus config to support gtag
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

fix(ci): remove main workflow
  .github/workflows/main.yml
Due: prettier --write

ci(website): update website workflow by phuct
  .github/workflows/website.yml
Due: prettier --write

refactor(ci): update website workflow
  .github/workflows/website.yml
Due: prettier --write

refactor(deps): update appAuth dependencies
  frontend/appAuth/package.json
Due: prettier --write

refactor(deps): update appConsumer dependencies
  frontend/appConsumer/package.json
Due: prettier --write

chore(deps): update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

feat(website): update docusaurus config
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat(website): update docusaurus.config.ts
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write
