Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

chore(deps): update package.json
  package.json
Due: prettier --write

chore(deps): update packages/ui/package.json
  packages/ui/package.json
Due: prettier --write

chore(deps): update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat: enable firebase deploy by phucpt
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

chore(ci): update cloudflare pages deployment
  .github/workflows/website.yml
Due: prettier --write

docs(contributing): clarify codename instructions
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

feat(website): update tagline
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

chore(deps): update dependencies
  pnpm-lock.yaml
Due: prettier --write

chore(ci): update website workflow
  .github/workflows/website.yml
Due: prettier --write

docs(website): update docusaurus config
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

chore(deps): update website dependencies
  frontend/website/package.json
Due: prettier --write

chore(website): update website configuration
  .github/workflows/website.yml
  frontend/website/package.json
Due: prettier --write

chore(website): update website configuration
  .github/workflows/website.yml
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat(website): improve website workflow and update dependencies
  .github/workflows/website.yml
  frontend/website/README.md
Due: prettier --write, markdownlint --fix

Fix: Align ESLint versions and configurations
  .github/workflows/mvp.yml
  frontend/appAuth/next-env.d.ts
  frontend/appAuth/package.json
  frontend/appAuth/pnpm-lock.yaml
  frontend/appConsumer/appConsumer_tasks.md
  frontend/appConsumer/next-env.d.ts
  frontend/appConsumer/package.json
  frontend/appConsumer/pnpm-lock.yaml
  frontend/mvp/.gitignore
  frontend/mvp/README.md
  frontend/mvp/eslint.config.js
  frontend/mvp/index.html
  frontend/mvp/package.json
  frontend/mvp/public/vite.svg
  frontend/mvp/src/App.css
  frontend/mvp/src/App.tsx
  frontend/mvp/src/assets/Cloudflare_Logo.svg
  frontend/mvp/src/assets/react.svg
  frontend/mvp/src/index.css
  frontend/mvp/src/main.tsx
  frontend/mvp/src/vite-env.d.ts
  frontend/mvp/tsconfig.app.json
  frontend/mvp/tsconfig.json
  frontend/mvp/tsconfig.node.json
  frontend/mvp/tsconfig.worker.json
  frontend/mvp/vite.config.ts
  frontend/mvp/worker-configuration.d.ts
  frontend/mvp/worker/index.ts
  frontend/mvp/wrangler.jsonc
  frontend/website/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

feat: Migrate app-auth to ESLint CLI
  frontend/appAuth/eslint.config.mjs
  frontend/appAuth/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Migrate app-consumer to ESLint CLI
  frontend/appConsumer/eslint.config.mjs
  frontend/appConsumer/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint --fix

chore(release): 1.1.3
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint --fix

chore: configure markdownlint and fix release script
  .markdownlint.json
  frontend/appAuth/eslint.config.mjs
  frontend/appAuth/package.json
  frontend/appConsumer/eslint.config.mjs
  frontend/appConsumer/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci): update node setup in CI
  .github/actions/setup-node/action.yml
  .github/workflows/mvp.yml
Due: prettier --write

docs(mvp): update readme
  frontend/mvp/README.md
Due: prettier --write, markdownlint --fix

ci: update mvp workflow
  .github/workflows/mvp.yml
Due: prettier --write

docs(mvp): delete readme
  frontend/mvp/README.md
Due: prettier --write, markdownlint --fix

feat(website): add new hero section
  frontend/website/src/components/HomepageFeatures/section1/index.tsx
  frontend/website/src/components/HomepageFeatures/section1/styles.module.css
  frontend/website/src/css/custom.css
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore(mvp): update package.json
  frontend/mvp/package.json
Due: prettier --write

chore(.github): update website workflow
  .github/workflows/website.yml
Due: prettier --write

chore(website): update package.json
  frontend/website/package.json
Due: prettier --write

feat(.github): add lint action
  .github/actions/lint/action.yml
Due: prettier --write

feat(website): add new homepage section and main workflow
  .github/workflows/main.yml
Due: prettier --write

chore(.github): update mvp workflow
  .github/actions/setup-node/action.yml
  .github/workflows/mvp.yml
Due: prettier --write

feat(.github): add install action
  .github/actions/install/action.yml
Due: prettier --write

feat(.github): add deploy-cloudflare action
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

chore(.github): remove pnpm version specification
  .github/actions/install/action.yml
Due: prettier --write

feat(mvp): add test.txt
  frontend/mvp/test.txt
Due: none

feat(website): add test.txt
  frontend/website/test.txt
Due: none

fix(ci): correct reusable workflow path
  .github/workflows/mvp.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json,yml,yaml})) or (any of: *.{css,scss})
  markdownlint --fix: any of: *.md
  stylelint --fix: any of: *.{css,scss}
