Repository phuctanpham/garblo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix, stylelint --fix

fix(ci): correct reusable workflow path for website
  .github/workflows/website.yml
Due: prettier --write

refactor: remove test files
  frontend/mvp/test.txt
  frontend/website/test.txt
Due: none

feat(mvp): add hello.txt file
  frontend/mvp/hello.txt
Due: none

feat(website): add hello.txt file
  frontend/website/hello.txt
Due: none

feat(ci): add builds directory for github actions
  .github/actions/builds/.gitkeep
Due: none

fix(security): upgrade qs to resolve vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove hello.txt from mvp
  frontend/mvp/hello.txt
Due: none

fix: remove hello.txt from website
  frontend/website/hello.txt
Due: none

chore: update website package.json
  frontend/website/package.json
Due: prettier --write

feat: add github action to build project
  .github/actions/builds/action.yml
Due: prettier --write

chore(frontend): add test text files
  frontend/mvp/test.text
  frontend/website/test.text
Due: none

fix(deps): update dependencies and fix install action
  .github/actions/install/action.yml
  package.json
Due: prettier --write

chore(husky): update pre-commit hook
  .husky/pre-commit
Due: none

chore(mvp): remove test.text
  frontend/mvp/test.text
Due: none

chore(website): remove test.text
  frontend/website/test.text
Due: none

chore(ci): update build action
  .github/actions/builds/action.yml
Due: prettier --write

chore(ci): update main workflow
  .github/workflows/main.yml
Due: prettier --write

chore(ci): update mvp workflow
  .github/workflows/mvp.yml
Due: prettier --write

chore(ci): update website workflow
  .github/workflows/website.yml
Due: prettier --write

chore(website): update docusaurus config
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

fix(frontend/website): resolve module not found error
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write

fix(website): fix broken link in section1
  frontend/website/src/components/HomepageFeatures/section1/index.tsx
Due: eslint --fix, prettier --write

feat(website): add how-it-works section
  frontend/website/src/pages/index.tsx
Due: eslint --fix, prettier --write

fix(website): ignore broken anchors
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

feat(website): add HowItWorks component
  frontend/website/src/components/HomepageFeatures/HowItWorks/index.tsx
  frontend/website/src/components/HomepageFeatures/HowItWorks/styles.module.css
Due: eslint --fix, prettier --write, stylelint --fix

chore(mvp): update mvp workflow
  .github/workflows/mvp.yml
Due: prettier --write

chore(website): update website workflow
  .github/workflows/website.yml
Due: prettier --write

chore(deploy): update deploy action
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

docs(website): update docusaurus config
  frontend/website/docusaurus.config.ts
Due: eslint --fix, prettier --write

chore(workflow): update mvp workflow
  .github/workflows/mvp.yml
Due: prettier --write

chore(workflow): update website workflow
  .github/workflows/website.yml
Due: prettier --write

fix(deploy-cloudflare): correct environment variable names
  .github/actions/deploy-cloudflare/action.yml
Due: prettier --write

fix(website): correct deploy script
  frontend/website/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json,yml,yaml})) or (any of: *.{css,scss})
  markdownlint --fix: any of: *.md
  stylelint --fix: any of: *.{css,scss}
